<h3>Welcome to gWitter</h3>

<%= link_to "Show Users", users_path %> |
<%= link_to "All gWeets Ever!", gweets_path %>

<% if current_user %>
  <h1><%= current_user.username %></h1>
  <h2><%= link_to 'Sign out', signout_path %>  </h2>
<% else %>
  <h2><%= link_to 'Sign in', signin_path %>  </h2>
<% end %>

<%= render 'registration/signup' %>
